@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
  font-family: 'Baloo 2', sans-serif;
  font-family: 'Roboto', sans-serif;
}
:root {
  --main-green: #9FC55A;
  --black-green: #10401B;
  --dark-green: #397624;
  --bright-green: #D2EC81;
  --brightest-green: #E6FAA7;
  --dark-brown: #885928;
  --bright-gray-brown: #BFB785;
  --yellow: #F2CB40;
  --blue: #5BB4DE;
  --red: #EE6037;
  --orange: #F1B03E;
  --green-2: #C6D172;
  --green-3: #D4CF61;
  --black: #1A1A1A;
  --white: #FFFFFF;
  --shadow-gray-brown: #875826;
}